.cache/
.lsp-session-v1

abbrev_defs
auto-save-list/
history
places
projectile-bookmarks.eld
recentf
transient
tree-sitter/

# Package management directories
elpa/
straight/

# org-roam related files and directories
.org-id-locations
org-roam.db
org-persist/
