.cache/
.lsp-session-v1

abbrev_defs
auto-save-list/
bookmarks
history
places
recentf
transient
tree-sitter/

# Package management directories
elpa/
straight/

# org-roam related files and directories
.org-id-locations
org-roam.db
org-persist/

# Projectile-related files and directories
projectile-bookmarks.eld
projectile.cache